#GameThumbail{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

.screenshots{
	width: 25%;
	height:9%;
	margin-right: 6%;
	margin-top: 1%;
}

img{
	width: 100%;
	height:100%;
	
}

.gameContent{
    margin-left:2%;
    margin-right:2%;
}

.cadreBleu{border: 2px solid #1c75c8;
 padding: 3px;
background-color: #c5ddf6; 
-moz-border-radius-topleft: 5px; 
-moz-border-radius-topright: 5px; 
-moz-border-radius-bottomright: 5px; 
-moz-border-radius-bottomleft: 5px;
}


.cadreDoubleOrange{padding:3px; 
border:5px double #ff6b00; 
background-color:#ffdbc1;}


.cadreCinemaGris{padding:3px; 
background-color:#f49d41;
padding:4px;
border-top:8px dotted #4286f4;
border-bottom:8px dotted #4286f4;
border-radius: 10px 10px 10px 10px;
}

.cadreVertTwoBorders{padding:3px; 
border:4px inset #4cdc67; 
background-color:#4cdc67;
}