
.main-header{
	text-align: center;
	padding: 2% 2% 2% 2%;
}

header > img{
    width:80%;
}

/*font for titles*/
@font-face {
    font-family: 'preciousregular';
    src: url('../fonts/precious/precious-webfont.woff2') format('woff2'),
         url('../fonts/precious/precious-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font for small texts*/
@font-face {
    font-family: 'seshatregular';
    src: url('../fonts/seshat/seshat-webfont.woff2') format('woff2'),
         url('../fonts/seshat/seshat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*font for regular texts*/
@font-face {
    font-family: 'polyregular';
    src: url('../fonts/poly/poly-regular-webfont.woff2') format('woff2'),
         url('../fonts/poly/poly-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.title1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;  
	font-size: 40px;
	line-height: 180px;
	padding: 15px 15px 15px 30%;
	color: #DF0101;
	box-shadow: 
		inset 0 0 0 1px rgba(53,96,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5);
		/*inset -285px 0 35px white;*/
	border-radius: 0 10px 0 10px;
	background: #fff url(../Pict/Fotor0608174227.png) no-repeat center left;
}

.title2 { 
	color: #ebf291;
	font-family: 'preciousregular'; 
	font-size: 48px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0 0 18px; 
	text-shadow: 1px 0 0 #fff; 
	text-decoration: underline;
        text-align: center;
	}

.background-main{
	background-image:url("../Pict/backgrounds/purple.jpg");
	background-repeat: repeat-x repeat-y;
	background-attachment:fixed;
}


.title2-1{
	color: #FCFF20; 
	font-family: 'Lobster', cursive; 
	font-size: 36px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0 0 18px; 
	text-shadow: 1px 0 0 #fff; 
	}
	
.title3{
	color: #DF0101; 
	font-family: 'Lobster', cursive; 
	font-size: 18x; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0 0 18px; 
	text-shadow: 1px 0 0 #fff; 
	text-align: center;
	}
        
.main-text{
    font-family: 'polyregular' ; 
    font-size:18px;
    font-weight: bold;
    }