#SelectiveBloc{
    display: flex;
    flex-wrap: no-wrap;
    justify-content:space-around;
   
}

.imgSelect{
    	width: 35%;
	height:360px;
	margin-right: 6%;
	margin-top: 1%;
}

img{
	width: 100%;
	height:100%;
}

.imgSelect :hover{
    opacity: 0.5;
}

